@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
}

section p {
  text-align: left;
  line-height: 1.6;
}


body { 
    background-color: #F2FDFF;
    color: #050F2A;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

header{
    padding: 5rem;
    background-color:#050F2A;
    color: #7BBBFF;
    text-align: center;
}
h1 {
    font-weight: 800;
    font-size: 3.5rem;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

h2, h3 {
    font-size: 1.5rem;
    color: #7BBBFF;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: #7bbbff ;
}

input[type="text"], input[type="email"] , input[type="file"] , input[type="textarea"] , input[type="password"] ,input[type="number"] , textarea  {
    width: 100%;
    padding: 0.7rem;
    border: 2px solid #7BBBFF;
    outline: none;
    border-radius: 15px;
}

input::placeholder {
    color: #7BBBFF;
}

select {
    cursor: pointer;
    background: #ffffff;
    color: #7BBBFF;
    border-radius: 15px;
    border: 2px solid #7BBBFF;
    outline: none;
    width: 18.6%;
    padding: 0.7rem;
}

img {
    width: 20rem;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

figure {
  text-align: center;
}

figcaption {
  margin-top: 8px;
  font-size: 10px;
  color: #7BBBFF;
}

table {
    width: 100%;
    border-collapse: collapse;

}
th{
    background-color: #7BBBFF;
    color: #F2FDFF;
    padding: 1rem;
}

td{
    color: #050F2A;
    padding: 1rem;
    text-align: center;
}

details{ 
    background-color: #7BBBFF;
    border-radius: 5px;
    padding: 1rem;
}

summary {
    color: #050F2A;
    margin: 0.5rem;
    cursor: pointer;

}

ol {
    margin-left: 1.7rem;
}

ol li {
    padding: 0.2rem;
}

fieldset{
    border: 2px solid #7BBBFF;
    padding: 1rem;
    border-radius: 5px;
}

button{
    background-color: #7BBBFF;
    border: none;
    padding: 0.8rem;
    color: #F2FDFF;
    border-radius: 5px;
    cursor: pointer;
}

legend{
    padding: 0 0.5rem;
}

footer{
    background-color: #050F2A;
    padding: 2rem;
    text-align: center;
}
.p-footer{
    color: #ffffff;   
}

footer a{
    text-decoration: none;
    color: #7bbbff;

}